/* COMP721: Web Development
   Assignment 2
   Thomas Brears, #20122554, fcx9443 
*/

/* CSS variables at root level for easy changing and redusing repetitiiveness */
:root {
    --border-style: 1px solid #333333; /* Lighter dark grey */
    --background-color: #333333; /* Lighter dark grey */
    --text-color: #ffffff; /* White */
    --button-bg: #71FF69; /* Green */
    --button-text-color: #000000; /* Black */
    --hover-bg-color: #333333; /* Lighter dark grey */
    --transition-speed: 0.3s ease; /* Transition speed for hover effects */
}

body {
    margin: auto;
    text-align: center;
    background-color: #121212; /* Black */
    color: var(--text-color);
    font-family: Arial, sans-serif;
    line-height: inherit;
    padding-top: 50px;
}

#navbar, .navbar-container, footer, .content {
    max-width: none;
}

/* Navigation */
#navbar {
    background: #222222; /* Dark Grey */
    border-bottom: var(--border-style);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top var(--transition-speed);
    box-shadow: 0 2px 5px rgba(150, 150, 150, 0.2); /* Lightish grey shadow */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.menu-icon { /* Hidden by default, will be shown in media query for smaller screens */
    display: none;
    cursor: pointer;
}

.brand-name, .nav-links a {
    font-size: 1em;
    font-weight: bold;
    color: var(--text-color);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    padding: 0 0.75em;
    text-decoration: none;
    transition: color var(--transition-speed);
}

.nav-links a:hover, .nav-links a.active {
    color: var(--button-bg);
}

/* General styles for containers and text */
.content, .flex-container, footer {
    background: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(150, 150, 150, 0.2);
    margin: auto;
    width: auto;
}

/* Table Styles */
table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #444444;
}

th {
    background-color: var(--background-color);
}

/* Form and Input Styles */
.booking-form, .booking-form label, .booking-form h2, .booking-form p,
input[type="text"], input[type="date"], input[type="time"], input[type="button"],
button {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--border-style);
}

.booking-form button[type="submit"], input[type="button"], button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    width: 100%;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

input[type="button"]:hover, button:hover {
    background-color: var(--hover-bg-color);
}

/* Link styling */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--button-bg);
}

/* Success/Error message styling */
.success-message, .error-message {
    padding: 10px;
    border-radius: 4px;
    width: auto;
}

.success-message {
    background-color: #71FF69; /* Light Green */
}

.error-message {
    background-color: #D8000C; /* Red */
    margin: 20px !important;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        padding: 0.4em 1em;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .brand-name {
        margin-right: 0;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

    .nav-links a {
        text-align: center;
        padding: 0.5em;
        width: 100%;
    }

    .content, .footer-container {
        padding: 20px;
    }
    
    footer {
    margin-top: 20px;
    }
    
    input[type="text"], input[type="date"], input[type="time"], input[type="button"], button {
    width: 80%; 
    padding: 12px;
    margin-bottom: 20px;
    border-color: var(--text-color);
    }
}

@media (min-width: 1200px) {
    header, section, footer {
        margin: auto;
    }
}
